<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Flight number {{flight.id}} </h1>
    <h2>From {{flight.origin}} to {{flight.destination}}</h2>
    <h2>Passengers on this flight:</h2>
    <ul>
        {%for passenger in passengers%}
        <li>{{passenger.first}} {{passenger.last}}</li>
        {% empty %}
        <li>No Passengers</li>
        {%endfor%}
    </ul>
    <a href="{% url 'index' %}">Back to flights list</a>

</body>
</html>